<%# if @non_secure_page == true %>
  <!-- session.delet -->
<%# elsif current_user %> 
	<!-- <p>You are logged in as <%#<%= current_user["user_name"] %>%>.</p>  -->
<%#else%>
	<%# redirect "/login" %>
<%#end%>

<!-- ######################################## -->
<!-- <a href="/topics">Home</a> -->

<h1><%= @topic %></h1>

<% @questions.each do |question| %>

		<h3><%= question["question"] %></h3>
		<!-- here I could possibly import more than merely the "question" column from the db, I could import the "id" as well and then below, regarding printing the replies associated with the appropriate "question_id", perhaps have a squid querying the data base... or perhaps better have a loop in the server.rb file and storing an array of arrays where index[0][i's] hold the replies for the zeroeth question and index[1][i's] hold the replies for the first question and so on, but not sure how that would work considering ordering the questions.-->
		<div class="reply-box">
			<% @replies[question["id"]].each do |some_question| %>
				<h5 class="reply"><%= some_question["reply"] %></h5>
			<%end%>
		</div>
		<form class="new_reply" action="/topics/:topic_id/question_id/new_reply" method="post">
			<textarea placeholder="Type new reply here." class="new_reply" name="reply"></textarea>
			<input type="hidden" name="question_id" value="<%=question["id"]%>"/>
			<input type="submit" value="Submit Reply"/>
		</form>

		<%# @replies.each do |reply| %>
			

			
		<%#end%>

<%end%>
<form class="new_question" action="/topics/:topic_id/new_question" method="post">
	<label class="new-question" for="new_question">New Question:</label>
	<textarea placeholder="Type new question here" name="new_question" class="textarea"></textarea>
	<input type="submit" value="Submit new question"/>
</form>
	 



